<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POM Design Automation Test">

 <listeners>
 
      <listener class-name="com.qa.extentReportListener.ExtentReporterListenerNG"></listener>
 
 </listeners>
 
  <test name="FreeCRMTest">
  
    <classes>
      <class name="com.qa.crm.testcases.CRMLoginPage"/>
      <class name="com.qa.crm.testcases.CRMHomePage"/>
      <class name="com.qa.crm.testcases.CRMContact"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
